* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: roboto, sans-serif;
  color: #0f293d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

.logo__main {
  width: 170px;
  height: auto;
  margin-right: 15px;
  float: left;
}

.logo__main--contact {
  width: 100px;
  height: auto;
}

img {
  max-width: 100%;
}

/*    h e a d e r    */
.header__main {
  width: 100%;
  min-height: 100%;
  background: url(../img/logo/main_leaves.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.header__logo {
  background: url(../img/logo/logo_maska_lw.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35vw;
  min-height: 30vw;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.header__scroll {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  bottom: 0;
  font-size: 1.2rem;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.header__scroll .fas {
  color: white;
}

.header__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
}

.header__socialmedia ul {
  text-decoration: none;
}

.header__socialmedia ul li {
  display: inline-block;
  padding: 30px;
  font-size: 1.2rem;
}

.header__socialmedia ul li a {
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__socialmedia ul li a:hover {
  color: lightgreen;
}

/*    navbar     */
.nav__main ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.5);
  background-color: darkslategray;
  height: 100%;
}

.nav__main ul li {
  display: inline-block;
  padding: 8px 16px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__main ul li a {
  color: #f6f9e7;
  text-decoration: none;
}

.nav__main ul li:hover, .nav__main ul li:active {
  background: lightgreen;
}

.nav__main ul li:hover a, .nav__main ul li:active a {
  color: darkgreen;
}

.paralax__plantwalls,
.paralax__plantstalagmites,
.paralax__tubegarden,
.paralax__plantwires {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax__plantwalls {
  background-image: url(../img/logo/28767794_10212721307601363_1450913357_o.jpg);
  min-height: 400px;
}

.paralax__plantstalagmites {
  background-image: url(../img/logo/swed4.jpg);
  min-height: 400px;
}

.paralax__plantwires {
  background-image: url(../img/logo/wires.jpg);
  min-height: 400px;
}

.paralax__tubegarden {
  background-image: url(../img/logo/hydro.jpg);
  min-height: 400px;
}

.paralax__caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: darkgreen;
}

.paralax__caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 1rem;
  letter-spacing: 10px;
}

.offer {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.offer__item {
  padding: 20px;
  font-size: 1rem;
  color: darkgreen;
  text-align: justify;
}

.offer__plantwalls,
.offer__plantwires,
.offer__plantstalagmites,
.offer__tubegarden {
  margin: 80px 0px;
}

.about {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about p {
  padding: 10px;
  font-size: 1rem;
  color: darkgreen;
  text-align: justify;
}

/*   f o r m u l a rz   */
hr.contact__line {
  width: 25%;
  border: 0px;
  border-top: 1px solid green;
}

.contact__form {
  width: 48%;
}

label {
  padding: 10px;
  display: block;
  font-size: 12px;
}

label[for="agree"] {
  display: inline-block;
  padding: 1%;
}

.form {
  padding: 2%;
}

input[type=text],
input[type=email],
input[type=tel] {
  display: block;
  border: 1px solid green;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

input[type="checkbox"] {
  display: inline-block;
}

select:focus,
input:focus {
  color: #000;
  outline: 0;
  background-color: lightgreen;
}

textarea {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 140px;
  padding: 10px;
  border: 1px solid green;
  font-size: 12px;
}

textarea:focus {
  outline: 0;
  color: darkgreen;
}

input[type="submit"] {
  display: inline-block;
  margin-top: 10px;
  border: 0px;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: lightgreen;
  color: green;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input[type="submit"]:active {
  background: darkgreen;
  color: lightgreen;
}

/* c o n t a c t    d i v */
.contact {
  margin: 5px 20px;
}

.contact h3 {
  margin-top: 30px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__adress {
  width: 47%;
  margin: 20px;
  border-left: 1px solid darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__adress ul {
  list-style: none;
}

.contact__adress ul li {
  color: green;
  font-size: 24px;
  padding: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contact__adress ul li a {
  color: darkgreen;
  font-size: 1rem;
}

.contact__adress ul li a span {
  font-weight: bold;
  color: darkgreen;
}

.contact__adress ul li:hover {
  color: lightgreen;
}

.contact__socialmedia ul li {
  display: inline-block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contact__socialmedia ul li i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contact__socialmedia ul li:hover i {
  color: lightgreen;
}

.footer {
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  background: url(../img/logo/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright,
.footer__privacy {
  padding: 20px;
  font-size: 12px;
}

.footer__copyright a,
.footer__privacy a {
  color: lightgreen;
  text-decoration: none;
}

.footer__copyright a:hover,
.footer__privacy a:hover {
  color: white;
}

/* media queries  */
@media screen and (max-width: 800px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    width: 100%;
    padding: 2%;
  }
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form {
    width: 100%;
  }
  .contact__adress {
    border: 0px;
    width: 100%;
    margin: 5px;
  }
  .contact__adress ul li {
    font-size: 12px;
  }
  .contact__adress ul li a {
    font-size: 12px;
  }
  .contact__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__data .contact__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact__socialmedia {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 430px) {
  .about p {
    font-size: 14px;
  }
  .about__logo {
    width: 40%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact__logo {
    width: 80px;
    height: auto;
  }
  .nav__main ul li {
    display: block;
  }
  .paralax__caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
  }
  .paralax__caption span.border {
    width: 100%;
    letter-spacing: 1px;
  }
}
/*# sourceMappingURL=style.css.map */